<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rdbms -->
      <package
            uri="http://blackbelt.hu/judo/meta/psm/rdbms"
            class="hu.blackbelt.judo.meta.rdbms.RdbmsPackage"
            genModel="model/rdbms.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated rdbms -->
      <parser
            type="judo-meta-rdbms"
            class="hu.blackbelt.judo.meta.rdbms.util.RdbmsResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rdbms-datatypes -->
      <package
            uri="http://blackbelt.hu/judo/meta/rdbms/datatypes"
            class="hu.blackbelt.judo.meta.rdbmsDataTypes.RdbmsDataTypesPackage"
            genModel="model/rdbms-datatypes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated rdbms-datatypes -->
      <parser
            type="judo-meta-rdbms-datatypes"
            class="hu.blackbelt.judo.meta.rdbmsDataTypes.util.RdbmsDataTypesResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rdbms-namemapping -->
      <package
            uri="http://blackbelt.hu/judo/meta/rdbms/namemapping"
            class="hu.blackbelt.judo.meta.rdbmsNameMapping.RdbmsNameMappingPackage"
            genModel="model/rdbms-namemapping.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated rdbms-namemapping -->
      <parser
            type="judo-meta-rdbms-namemappins"
            class="hu.blackbelt.judo.meta.rdbmsNameMapping.util.RdbmsNameMappingResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rdbms-tablemappingrules -->
      <package
            uri="http://blackbelt.hu/judo/meta/rdbms/rules"
            class="hu.blackbelt.judo.meta.rdbmsRules.RdbmsRulesPackage"
            genModel="model/rdbms-tablemappingrules.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated rdbms-tablemappingrules -->
      <parser
            type="judo-meta-rdbms-tabslemappingrules"
            class="hu.blackbelt.judo.meta.rdbmsRules.util.RdbmsRulesResourceFactoryImpl"/>
   </extension>
</plugin>
