<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rdbms -->
      <package
            uri="http://blackbelt.hu/judo/meta/psm/rdbms"
            class="hu.blackbelt.judo.meta.rdbms.RdbmsPackage"
            genModel="model/rdbms.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated rdbms -->
      <parser
            type="rdbms"
            class="hu.blackbelt.judo.meta.rdbms.util.RdbmsResourceFactoryImpl"/>
   </extension>

</plugin>
